<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 25px;"><a routerLink="/home" routerLinkActive="active">Alpha Coders</a></span>
      <span class="center-space"></span>
      <span style="padding: 10px;"><a routerLink="/jobs" routerLinkActive="active" style="font-size: 15px;">Jobs</a></span>
      <span style="padding: 10px;"><a routerLink="/upload" routerLinkActive="active" style="font-size: 15px;">Makeathon</a></span>
      <span style="padding: 10px;"><a routerLink="/team" routerLinkActive="active" style="font-size: 15px;">The Team</a></span>
    </mat-toolbar-row>