.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 3%;
    align-content: center;
  }
  
  .example-full-width {
    width: 100%;
  }

.mat-radio-button {
    margin-left: 16px;
    
  }

  td {
    padding-right: 8px;
  }

  table {
    width: 60%;
  }
  .mat-header-row th,tr {
    text-align: left;
}